<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
          version   = "3.3.0">

   <name>Navigation</name>
   <description>GPS</description>
   <gap:plugin name="org.apache.cordova.device-motion" version="0.2.6" />
   <gap:plugin name="org.apache.cordova.device-orientation" version="0.3.5" />
   <gap:plugin name="org.apache.cordova.geolocation" version="0.3.6" />
</widget>
